@import "tailwindcss";

/* 1. Tell the browser where your local font file is */
@font-face {
  font-family: 'Aparajita';
  src: url('./assets/fonts/Aparajita Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* 2. Register your custom fonts for Tailwind v4 to use */
@theme {
  --font-rozha: "Rozha One", serif;
  --font-aparajita: "Aparajita", serif;
}